{% extends '../shared/base.html' %}
{% block content %}
<div class="myhpWrap">
  {% include "../myhp/sideBar.html" %}
  <div class="myhpIndexRight">
    <div class="dogShowWrap">
      <div class="dogShowLeft">
        <div class="dogShowLikeBox">
          <i class="fas fa-thumbs-up"></i>{{dog.like_num}}いいね！
        </div>
        <div class="dogShowDetails">
          飼い主：{{dog.user.username}}<br>
          名前：{{dog.dogname}}<br>
          年齢：{{dog.age}}<br>
          性別：{{dog.sex}}<br>
          紹介文：{{dog.introduction}}
        </div>
      </div>
      <div class="dogShowRight">
        <img class="dogShowImage" src="{{ dog.image.url }}">
        {% if like_flg == 0 %}
        <a href="{% url 'accounts:like' pk=dog.id %}" class="dogShowLink">いいねボタン</a>
        {% else %}
        <a href="{% url 'accounts:like' pk=dog.id %}" class="dogShowLink">いいねを外す</a>
        {% endif %}
        <a href="{% url 'myhp:fusion' pk=dog.id %}" class="dogShowFusionLink">合成ボタン</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}