{% extends '../shared/base.html' %}
{% block content %}
<div class="breadcrumbWrap mx-auto w-75 px-5">
  <nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'myhp:topPage' %}">ホーム</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{headLine}}</li>
    </ol>
  </nav>
</div>
<div class="mx-auto w-75 d-flex px-5">
  {% include "../shared/sideBar.html" %}
  <div class="dogShowWrap w-100 p-5">
    <div class="dogShowBox mx-auto h-100 w-75 d-flex p-3">
      <div class="dogShowLeft mr-3 text-center">
        <img class="dogShowImage" src="{{ dog.image.url }}">
        <div class="dogShowNav w-100 p-3 my-3">
          <i class="fas fa-thumbs-up"></i>&emsp;{{dog.like_num}}&emsp;いいね！
        </div>
        {% if like_flg == 0 %}
        <a href="{% url 'accounts:like' pk=dog.id %}" class="mx-auto w-75 d-block btn btn-warning rounded-pill align-middle mb-3">いいねボタン</a>
        {% else %}
        <a href="{% url 'accounts:like' pk=dog.id %}" class="mx-auto w-75 d-block btn btn-danger rounded-pill align-middle mb-3">いいねを外す</a>
        {% endif %}
        <a href="{% url 'myhp:fusion' pk=dog.id %}" class="mx-auto w-75 d-block btn btn-info rounded-pill align-middle">合成ボタン</a>
      </div>
      <div class="dogShowNav p-3">
        <!-- <div class="dogShowRightBox p-3"> -->
          飼い主：{{dog.user.username}}<br>
          名前：{{dog.dogname}}<br>
          年齢：{{dog.age}}<br>
          性別：{{dog.sex}}<br>
          紹介文：{{dog.introduction}}
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock content %}