{% extends './like.html' %}
{% block like %}
<div class="likeBox">
  <a href="{% url 'accounts:dogShow' pk=obj.user.dog.id %}" class="likeLink">
    <img class="likeImage" src="{{ obj.user.dog.image.url }}">
    <div class="likeText">
      {{obj.user.username}}さん<br>
      なまえ：{{obj.user.dog.dogname}}<br>
      {{obj.user.dog.age}}さい<br>
      性別：{{obj.user.dog.sex}}<br>
      紹介文：{{obj.user.dog.introduction}}<br>
    </div>
  </a>
  <a href="#" class="likeThanksLink">いいねありがとうボタン</a>
</div>

{% endblock like %}