.breadcrumbWrap{
  margin-top: 100px;
}

.myhpIndexRight{
  background-color: #fafafa;
  /* min-height: calc(100vh - 200px); */
}

.headLine {
  position: relative;
}

.headLine:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #00FFFF;
  border-radius: 2px;
}

.allUsers{
  /* padding: 18px 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  min-height: calc(100% - 120px); */
}

.userBox {
  text-decoration: none;
  color: #333333;
  transition: all 0.6s ease 0s;
}

.userBox:hover {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

.userImage{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
