.sideBarWrap{
  margin-right: 10px;
  width: 25%;
}

.registeredDog{
background-color: #fafafa;
}

.registeredDogLink{
  text-decoration: none;
  color: #333333;
}

.registeredDogImage{
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.registeredDogName{
  text-align: center;
}

.registeredDogDetail{
  display: flex;
  justify-content: space-around;
}

.dogEditBox{
  display: flex;
  justify-content: space-around;
}

.sideBarNavBox{
  margin: 3px;
  padding: 10px 0;
  border-bottom: solid 1px rgba(51, 51, 51,0.6);
  background-color: #fafafa;
}

.sideBarHeadline{
  color: #333333;
  text-align: left;
  padding-left: 20px;
}

.sideBarLink{
  display: block;
  text-decoration: none;
  color: #333333;
  margin: 5px;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.sideBarLink:hover {
  background-color: rgba(240, 240, 240,0.9);
}