{% extends '../shared/base.html' %}
{% block content %}
  {% for obj in objs %}
  <div class="displayBox">
    <img class="displayImage" src="{{ obj.first_image.url }}">
    <img class="displayImage" src="{{ obj.second_image.url }}">
    {% for o in obj.users.all %}
    <a href="{% url 'accounts:dogShow' pk=o.dog.id %}" class="displayLink">
      <img class="displayUserImage" src="{{ o.dog.image.url }}">
      {{ o }}さん
    </a>
    {% endfor %}
  </div>
  {% endfor %}
  {% include "../shared/pagination.html" %}
</div>

{% endblock content %}