{% extends '../shared/base.html' %}
{% block content %}
<div class="breadcrumbWrap mx-auto w-75 px-5">
  <nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-home">ホーム</i></li>
    </ol>
  </nav>
</div>
<div class="mx-auto w-75 d-flex px-5">
  {% include "../shared/sideBar.html" %}
  <div class="wrapRight col-lg-9 pt-4">
    <div class="headLine w-25 mx-auto text-center">
      {{headLine}}
    </div>
    <div class="d-flex py-5">
      {% for obj in objs %}
      <a href="{% url 'accounts:dogShow' pk=obj.id %}" class="userBox col-lg-3 text-center">
        <img class="userImage" src="{{ obj.image.url }}">
        <div>なまえ：{{ obj.dogname }}</div>
          <div>{{ obj.sex }}&emsp;&emsp;&emsp;{{ obj.age }}さい</div>
      </a>
      {% endfor %}
    </div>
    {% include "../shared/pagination.html" %}
  </div>
</div>
{% endblock content %}