{% extends '../shared/base.html' %}
{% block content %}
<div class="mx-auto w-75 px-5">
  <div class="topImageWrap mb-3">
      <div class="topImageMessage h-100 p-5">
        <div class="h-75 d-flex align-items-center justify-content-center">
          D.matchAppはわんちゃんのための<br>マッチングアプリです。<br>
          子犬は両親の血統によって<br>様々な容姿の子が生まれます。<br>
          マッチング前にイメージを確認して<br>わんちゃんに理想のお相手を<br>見つけてあげましょう。
        </div>
        <div class="text-center">
          <a class="btn btn-outline-primary rounded-pill align-middle mt-5" href="{% url 'accounts:login' %}">ログインする</a>
        </div>
      </div>
  </div>

  <div class="topHowToUseWrap mb-3 py-5">
    <ul class="topHowToUseBox d-flex justify-content-center">
      <li class="topHowToUse col-lg-2 p-0">
        <img class="topHowToUsePhoto" src="/static/images/howto1.png">
        <div class="topHowToUsetext p-2">
          <div class="topHowToUseNo">1</div>
          <p class="topHowToUseHeadline">
            <br>理想の相手を探しましょう</p>
          <p>わんちゃんに理想のお相手を探してあげましょう。</p>
        </div>
      </li>
      <li class="topHowToUse col-lg-2 p-0">
        <img class="topHowToUsePhoto" src="/static/images/howto2.png">
        <div class="topHowToUsetext p-2">
          <div class="topHowToUseNo">2</div>
          <p class="topHowToUseHeadline">
            子犬の容姿を<br>みてみましょう</p>
          <p>わんちゃんの写真を元に子犬のイメージを作成します。</p>
        </div>
      </li>
      <li class="topHowToUse col-lg-2 p-0">
        <img class="topHowToUsePhoto" src="/static/images/howto3.png">
        <div class="topHowToUsetext p-2">
          <div class="topHowToUseNo">3</div>
          <p class="topHowToUseHeadline">
            気に入ったお相手に<br>いいねを送りましょう</p>
          <p>気になるお相手を見つけたら「いいね」を送りましょう。</p>
        </div>
      </li>
      <li class="topHowToUse col-lg-2 p-0">
        <img class="topHowToUsePhoto" src="/static/images/howto4.png">
        <div class="topHowToUsetext p-2">
          <div class="topHowToUseNo">4</div>
          <p class="topHowToUseHeadline">
            マッチングしたら<br>メッセージを送りましょう</p>
          <p>お互いがいいねを押したらメッセージの交換ができる様になります。</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="toppageUserWrap text-center py-5">
    <div class="toppage-user-head">新着のお相手</div>
    <ul class="list-group list-group-horizontal justify-content-center my-3">
      {% for dog in objs %}
      <li class="toppage-user list-group-item col-lg-2 mx-1">
        <a href="#" class="toppage-user-link d-block">
          <img class="toppageUserPhoto" src="{{ dog.image.url }}">
          <p class="">なまえ：{{ dog.dogname }}<br>
            {{ dog.sex }}&emsp;&emsp;
            {{ dog.age }}さい
          </p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% include "../shared/footer.html" %}
{% endblock content %}