.header{
  background-color: #fafafa;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);
  height: 80px;
}

.headerLogo{
  background-image: url("/static/images/logo.png");
  background-size: cover;
  width: 300px;
}
