{% extends '../shared/base.html' %}
{% block content %}
<div class="breadcrumbWrap mx-auto w-75 px-5">
  <nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'myhp:topPage' %}">ホーム</a></li>
      <li class="breadcrumb-item active" aria-current="page">メッセージ</li>
    </ol>
  </nav>
</div>
<div class="mx-auto w-75 d-flex px-5">
  {% include "../shared/sideBar.html" %}
  <div class="chatWrap col-lg-9 d-flex p-0">
    <div class=" cahtMembers col-lg-5">
      {% for party in parties %}
      {{party.chat}}
      <a href="{% url 'chats:show' id=party.id %}" class="chatLink d-flex align-items-center my-2 p-2">
        {% for p in party.users.all %}
        {% if p.id != request.user.id %}
        <img class="chatUserImage" src="{{ p.dog.image.url }}">
        <p class="mb-0">{{p}}</p>
        {% endif %}
        {% endfor %}
      </a>
      {% endfor%}
    </div>
    <div class="col-lg-7">
      {% block chat %}
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div>
          <img class="chatLogo w-25 mx-auto d-block" src="/static/images/mark.png">
          <img class="chatLogo w-100" src="/static/images/logo.png">
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock content %}