{% extends './index.html' %}
{% block chat %}

<div class="chatMessageWrap p-4">
  {% for chat in chats %}
  {% if chat.user.id == request.user.id %}
  <div class="clearfix">
    <div class="myComment float-right d-flex">
      <!-- <a href="#" class="commentDeleteIcon">
            <i class="fas fa-trash-alt" style="font-size: 9px;"></i>
          </a> -->
      <p class="myCommentText">
        {{ chat.text}}
      </p>
      <div class="commentUser text-center">
        <img class="commentUserImage" src="{{ chat.user.dog.image.url }}">
        <p>{{ chat.user.username }}</p>
      </div>
    </div>
  </div>
  {% else %}
  <div class="theirComment d-flex">
    <div class="theircommentUser text-center mr-3">
      <img class="commentUserImage" src="{{ chat.user.dog.image.url }}">
      <p>{{ chat.user.username }}</p>
    </div>
    <p class="theirCommentText">
      {{ chat.text}}
    </p>
  </div>
  {% endif %}
  {% endfor%}
</div>
<div class="chatMessageForm w-100">
  <form id="new_message" action="" method="POST">
    {% csrf_token %}
    <textarea name="text" id="id_text" placeholder="メッセージを入力"></textarea>
    <button type="submit" class="chatBtn">
      <i class="fas fa-paper-plane"></i>
    </button>
  </form>
</div>


{% endblock chat %}