.chatWrap{
  background-color: #fafafa;
  min-height: calc(100vh - 200px);
  width: 75%;
  position: relative;
  display: flex;
}

.chatLeft{
  width: 40%;
}

.chatLink{
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 90%;
  margin: 5px auto;
  padding: 5px;
  text-decoration: none;
  color: #333333;
}

.chatUserImage{
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.chatUserName{
  align-self: center;
}

.chatRight{
  width: 60%;
}