.chatMessagesWrap{
  background-color: rgba(51, 51, 51,0.4);
  height: calc(80% - 8px);
  padding: 3px;
}

.chatMessageForm{
  height: 20%;
  border: solid 1px rgba(51, 51, 51,0.4);
}

.chatMessageMain{
  background-image: url("/static/images/chat-image.jpg");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  height: 100%;
}

.messageBox{
  display: flex;
  position: relative;
  font-size: 12px;
  padding: 5px;
}

.commentUser{
  margin: 5px 0;
  position: absolute;
  right: 0;
  width: 50px;
  overflow: hidden;
}

.myComment {
  margin: 5px 50px 5px auto;
  position: relative;
}

.commentDeleteIcon{
  position: absolute;
  bottom: 0;
  right: -10px;
  color: #333333;
}

.myComment .myCommentText {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 150px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.myComment .myCommentText:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.theircommentUser{
  margin: 5px 0;
  right: 0;
  width: 50px;
  overflow: hidden;
}

.theirComment {
  margin: 5px 0;
}
.theirComment .theirCommentText {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 150px;
  border-radius: 12px;
  background: #fafafa;
  font-size: 15px;
}

.theirComment .theirCommentText:after {
  content: "";
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #fafafa;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

#new_message{
  height: 100%;
  position: relative;
}

#id_text{
  height: 80%;
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.chatBtn{
  position: absolute;
  top: 13px;
  right: 10px;
}