.chatMessageWrap{
  background-image: url("/static/images/chat-image.jpg");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  overflow: scroll;
  height: calc(100% - 150px);
}

.commentUserImage{
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.myCommentText{
  display: table;
}

.theirCommentText{
  display: table;
}

.commentDeleteIcon{
  /* position: absolute;
  bottom: 0;
  right: -10px;
  color: #333333; */
}

.myComment .myCommentText {
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 150px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.myComment .myCommentText:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.theirComment .theirCommentText {
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 150px;
  border-radius: 12px;
  background: #fafafa;
  font-size: 15px;
}

.theirComment .theirCommentText:after {
  content: "";
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #fafafa;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

#new_message{
  height: 150px;
  position: relative;
}

#id_text{
  height: 90%;
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: -50px;
}

.chatBtn{
  position: absolute;
  top: 13px;
  right: 30px;
}
.chatMessageForm{
  position: absolute;
  bottom: 0;
}