{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="{% static 'js/preview.js' %}"></script>
  <script src="{% static 'js/fadein.js' %}"></script>
  <title>D.matchApp</title>
</head>

<body>
  <div class="header container-fluid d-flex justify-content-between align-items-center fixed-top px-5">
    <a href="{% url 'myhp:topPage' %}" class="headerLogo d-block h-100"></a>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary rounded-pill h-50 align-middle mx-3" href="{% url 'accounts:logout' %}">ログアウト</a>
    {% else %}
    <div class="row">
      <a class="btn btn-outline-primary rounded-pill h-50 align-middle mx-3" href="{% url 'accounts:create' %}">新規登録</a>
      <a class="btn btn-outline-primary rounded-pill h-50 align-middle mx-3" href="{% url 'accounts:login' %}">ログインする</a>
    </div>
    {% endif %}
  </div>
    {% block content %}
    <!-- content -->
    {% endblock %}
  {% include "./footer.html" %}
</body>

</html>