{% extends './base.html' %}
{% block content %}
<div class="breadcrumbWrap mx-auto w-75 px-5">
  <nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-home">ホーム</i></li>
    </ol>
  </nav>
</div>
<div class="mx-auto w-75 d-flex px-5">
  {% include "../shared/sideBar.html" %}
  <div class="fusionWrap">
    <div class="headLine">
      {{headLine}}
    </div>
    <div class="fusionBox">
      <img class="fusionDogImage" src="{{ user.dog.image.url }}">&emsp;&emsp;&emsp;
      <img class="fusionDogImage" src="{{ opponent.image.url }}">
    </div>
    {% block fusion %}
    <!-- content -->
    {% endblock %}
  </div>
</div>
{% endblock content %}